header{
		background-color:red;
       width: 480px;
		height:500px;
}
/*
h1
{color: pink;
text-align: initial;

}*/


.title {
	color: orange;
	font-size:100px;






}
#paragraph{

	color: white;
	font-size:13px;


}


